<!-- start main content -->
<div class="main">
  <mat-card class="caption">
    <h1>Office of Training and Placement</h1>
    <p>
      Thecollege has a separate Office of Training and Placement
      managed by a dedicated team. OTP is a platform for the Training and
      Placement of
      students and acts as a window between students and the
      outside
      organizations. The Office of Training and Placement
      establishes
      contacts
      with industrial houses to arrange training and placement of
      the
      students.
      The Office of Training and Placement guides and helps the
      final
      year
      students in securing fruitful career with their knowledge
      and
      achievements, by organizing campus Interviews and exploring
      various
      avenues for their placement. Previously, OTP had MoU with
      TCS to
      train
      the students for placement. The department extends all
      possible
      help and
      provides all available infrastructure facilities to the
      organizations and
      their respective officials conducting campus interviews in
      the
      college
      campus. OTP conducts following key activities,
      regularly:
    </p>
  </mat-card>
  <mat-card class="activity">
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          • Aptitude Test Series<br>
          • Mock Group Discussions<br>
          • Mock Personal Interviews<br>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          • Technical Interviews<br>
          • Motivational Lectures<br>
          • Expert Lecture/ Industry Talks<br>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          • Finishing School Programs<br>
          • Industry Academia Conclave<br>
          • Industrial Visits & Internship<br>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          • Personality Development Program
          • Personality Development Program
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card>
  <mat-card class="content">
    <div class="vision">
      <h4>Vision</h4>
      <li>
        To be
        a Platform for global companies to recruit industry-ready
        and
        competent students.</li><br>
    </div>
    <div class="mission">
      <h4>Mission</h4>
      <ol>
        <li>To produce industry-ready students by facilitating
          internship & training programs in reputed organizations.
        </li>
        <li>To promote Industry Institute Interaction through
          lectures/talks by Industry experts,industrial visits,
          MoUs
          and conclaves.</li>
        <li>To imbibe competency in students through technical &
          soft
          skills development programs.</li>
      </ol><br>
    </div>
    <div>
      <h4>Objectives</h4>
      <ol>
        <li>To maintain strategic links with companies for campus
          placement.</li>
        <li>To provide opportunities for real world exposure to
          students
          by facilitating internships and industrial visits.</li>
        <li>To provide finishing school exposure to students in
          order to
          prepare them for the world of opportunities awaiting
          them.
        </li>
        <li>To collect feedback from past recruiters to explore the
          scope for continuous improvement.</li>
      </ol><br>
    </div>
  </mat-card>
</div>
<!-- End: MAIN CONTENT -->