<div class="container">
    <div class="page-header">
        <h1>Office of Training & Placement </h1>
    </div>
    <div class="cards">
        <mat-card class="example-card">
            <mat-card-content>
                <p>
                    <a class="btn btn-primary">Abhishek Soni</a><br><br>
                    Faculty-InCharge & Training and Placement Officer<br><br>
                    Assistant Professor<br> Department of Information & Technology<br>
                    <a class="btn">Contact No.: +91-9252519997</a>
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-content>

                <p>
                    <a class="btn btn-primary">Aditi Dwivedi</a><br><br>
                    Co-FIC, Training and Placement<br><br>
                    Assistant Professor<br>Department of Management Studies<br>
                    <a class="btn">Contact No.: +91-9530452013</a>
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-content>

                <p>
                    <a class="btn btn-primary">Rotash Kumar</a><br><br>
                    Co-FIC, Training and Placement<br><br>
                    Assistant Professor<br> Department of Electronics & Communication Engg.<br>
                    <a class="btn">Contact No.: +91-9413571633</a>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>