<div class="row-fluid"><br><br>
  <div class="page-header"><br>
    <h1 align="center"> Why GECJ?</h1>
  </div>
  <mat-card class="example-card">
      <p>
        Founded in 2007, the Engineering College Jhalawar is one of the state centres of excellence in engineering
        education.
        Over the decades the institute has worked hard to earn a very high repute among the general public, the academia
        as well the industry.
        Setting standards of excellence in all our endeavours, namely Teaching and Consultancy.<br><br>
        Maintaining strong relations with the industry is one of the priorities of the institute. Through Industrial
        Consultancy and Sponsored
        Research (IC & SR), the faculty and staff of the institute get to work on collaborative projects with the
        industry. Many companies also
        pursue joint research programs with various departments and also sponsor individual projects. Scientists and
        researchers from top firms
        also visit the institute frequently for technical lectures and interactions. In order to give the students a
        valuable exposure to the
        industry, internships are encouraged and are included as a mandatory part in the undergraduate curriculum.
      </p>
  </mat-card>
  <mat-card class="example-card">
      <h3>Culturals and Extra Curriculars</h3>
      <p>
        Engineering College Jhalawar provides an environment that nurtures leaders in addition to sound engineers.
        Students independently manage several club activities,
        national level festivals, administration of hostels and thus emerge as winner not only in national level
        competitions but also in their corporate life
        as well. This provides a platform to the students to hone their inter-personal skills and provides a holistic
        education.
      </p>
  </mat-card>
</div>