<div class="container">
    <div class="page-header"><br>
        <h1 align="center">Placement Policy</h1><br>
    </div>
    <mat-card class="example-card" >
        <ol>
            
                The Office of Training &amp; Placement have following placement
                    policies:
            
            <li>Periodic Conduction of IQ tests.</li>
            <li>Arrangement of Personality Development Workshops.</li>
            <li>Trains students in aptitude tests, interview techniques, group
                discussions.</li>
            <li>Notification regarding various competitive examinations.</li>
            <li>Organizes industrial visits.</li>
            <li>Guides students wishing to pursue Higher Education.</li>
        </ol>
    </mat-card>
    <mat-card class="example-card">
        <h3>Placement Rules</h3>
        <ol>
            <li> Students who are eligible according to a company’s criteria
                will be allowed to sit for their written test or appear for
                their interviews.</li>
            <li>Once a student is selected in a company, he/she can appear for
                the test/interview of the next company even without rejecting
                the previous job offer.</li>
        </ol>
    </mat-card>
    <mat-card  class="example-card">
        <p><strong>Note:
            </strong>The Training and Placement Cell firmly believes in taking feedback from the
            companies that have visited since the feedback from the company serves as a
            yardstick regarding the performance of the students. This helps the Training and
            Placement Cell in concentrating on various areas for improvement in the students.
        </p>
    </mat-card>

</div>