<div class="container">
        <div class="page-header">
            <h1> Placement Summary</h1>
        </div>
        <mat-card class="example-card">
            <ol>
                <p>The placement procedure can
                    be summarised as follows :</p>
                <li>Preparation of List of Corporate and other Institutions from all
                    over India and also from the Overseas.</li><br>
                <li>Placement Officer will liaison with the senior Company
                    executives of reputed companies.</li><br>
                <li>Company/Organization fills in a JNF (Job Notification Form)
                    containing details of the job offer (pay package, place(s) of
                    posting, allowances and other bonuses) and sends it to the
                    placement cell. The JNF is made available online to the
                    students, along with any other information furnished by the
                    company/organization. </li><br>
                <li>Placement Office allots dates to companies for campus interviews
                    based on certain details given by the companies. The
                    companies/organizations confirm the dates with the Placement
                    Office. These dates are then forwarded to the students</li><br>
                <li>Interested students, who show their willingness to appear for
                    the recruitment process of a company are asked to register for
                    the same. Companies are provided with the resumes of interested
                    students. </li><br>
                <li>Companies come down to the campus on the allotted date(s) and
                    conduct tests and/or interviews in accordance with their
                    recruitment process. The company/organization is required to
                    furnish the final list of students preferably on the date of
                    interview.</li><br>
                <li>Invitations are sent to the prospective companies/organization
                    along with all relevant information to participate in the campus
                    recruitment. Regular correspondence is maintained with various
                    industries. Personal visits by the Training and Placement
                    Officer, too many companies also serves to build and maintain
                    relations with the companies.</li><br>
            </ol>

        </mat-card>
</div>