<div class="row-fluid">
    <div class="map-area">
        <img src="/assets/tpoimg10.gif" alt="Background Image" class="background-image">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3018.0243021506517!2d76.17034490209805!3d24.510708321981312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgecj!5e1!3m2!1sen!2sin!4v1504724077506"
            width="543" height="255" frameborder="0" style="border:0" allowfullscreen>
        </iframe>

        <div class="campus-map">
            <h2>Campus Map</h2>
            <b>The Engineering College Jhalawar, Rajasthan was established in 2007 in the Jhalawar district of
                Rajasthan, India. <br>
                The Engineering College Jhalawar is affiliated to the Rajasthan Technical University Kota and the
                courses are duly approved by AICTE New-Delhi.[citation needed] <br>
                The college is spread in more than 45 acres. There is facilities of sports and library.</b>
        </div>

    </div>
    <div class="container">
        <div class="address">
            <div class="page-header">
                <h2>Address</h2>
            </div>
            <span>Office of Training and Placement </span>
            <span>Government Engineering College Jhalawar</span>
            <span>Sunel Road, Village: Chandlai, Tehsil-Jhalrapatan</span>
            <span>Jhalawar-326023, Rajasthan.</span>
        </div>

        <div class="contact">
            <span> <strong>TPO</strong><span>: +91-9252519997</span></span><br>
            <span><strong>Email ID</strong><span>: tpogecj@gmail.com</span></span><br>
            <span><strong>Official Working Hours</strong><span>: 10:00 A.M. to 4.00 P.M. </span></span><br>
        </div>
        <div class="Transport">
            <div class="page-header">
                <h2>Road Transport</h2>
            </div>
            <span>Almost all the towns and most of the important places are well connected with the district headquarter. </span> 
            <span>The Jaipur-Bhopal National Highway(NH-12) also passes through Jhalawar & jhalrapatan and college is situated .</span>
        </div>
        <div class="Transport">
            <div class="page-header">
                <h2>Rail Transport</h2>
            </div>
            <span>The district is connected with rail facilities at three places viz. Bhawani Mandi ,Ramganj Mandi and kota is the main juntion </span> 
            <span>which comes in the way of Delhi-Mumbai broad gauge line of Western Railway.</span>
        </div>
        <div class="Transport">
            <div class="page-header">
                <h2>Air Transport</h2>
            </div>
            <span>The nearby international airport are at Jaipur (330 kms), Bhopal (218 Kms) and Indore(227Kms) </span>
        </div>
       
    </div>
</div>