<div class="container">
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h4 align="center">Companies Conducted Placement Drive During Session 2021-22</h4>
            <table cellspacing="0" cellpadding="0" border="1" class="withborder" align="center">
              <tbody>
                <tr>
<td width="70" class="bg-blue"><p align="center" class="style2" style="font-size:18px; color: blue;"><b>S. No.</b></p></td>
<td width="400" class="bg-blue"><p align="center" class="style2" style="font-size:18px; color: blue;"><b>Name</b></p></td>

</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">01</p></td>
<td><p align="center" class="style2" style="font-size:16px">AKA Logistics Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">02</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Qdegree</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">03</p></td>
  <td><p align="center" class="style2" style="font-size:16px">HabileLabs</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">04</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Byju's</p></td>
</tr>
<!-- <tr> -->
  <!-- <td><p align="center" class="style2" style="font-size:16px">05</p></td> -->
  <!-- <td><p align="center" class="style2" style="font-size:16px">Star Health Insurance</p></td> -->
<!-- </tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">05</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Infosys</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">06</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Impetus Technology</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">07</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Secure Learning</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">8</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Samyak Infotech</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">9</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Wonder Cement</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">11</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Apollo Tyres</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">10</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Streebo</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">11</p></td>
  <td><p align="center" class="style2" style="font-size:16px">IBM</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">12</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Capegemini</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">13</p></td>
  <td><p align="center" class="style2" style="font-size:16px">TCS</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">14</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Motherson Sumi</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">15</p></td>
  <td><p align="center" class="style2" style="font-size:16px">MetaCube</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">16</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Vodafone Idea</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">17</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Himile Molds India Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">18</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Meditab Group</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">19</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Appcino a Xebia</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">20</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Solulabs Inc.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">21</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Siyana Info Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">22</p></td>
  <td><p align="center" class="style2" style="font-size:16px">HCL Technologies</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">23</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Genius Power Infrastructure</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">26</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Manikaran Power Limited</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">24</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Stratosphere IT Solutions Ltd.</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">28</p></td>
  <td><p align="center" class="style2" style="font-size:16px">SmartCliff(BlueBirch Group)</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">25</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Acxioms Consulting Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">26</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Saint Gobain India</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">27</p></td>
  <td><p align="center" class="style2" style="font-size:16px">National Hydroelectric Power Corporation</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">27</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Sasken Technologies Limited</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">28</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Ericson Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">29</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Acty System India Pvt. Ltd.</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">35</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Nagarro</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">30</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Yazaki India Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">31</p></td>
  <td><p align="center" class="style2" style="font-size:16px">AptClouds Softwware Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">32</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Rucha Group</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">33</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Exafluence Pvt. LTd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">34</p></td>
  <td><p align="center" class="style2" style="font-size:16px">A-1 Fench Products Company Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">35</p></td>
  <td><p align="center" class="style2" style="font-size:16px">NR Switch N Radio Services</p></td>
</tr>
<!-- <tr>
  <td><p align="center" class="style2" style="font-size:16px">42</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Pentagon Space Pvt. Ltd.</p></td>
</tr> -->
<tr>
  <td><p align="center" class="style2" style="font-size:16px">36</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Exicom Tele-System Ltd, Gurgaon</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">37</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Aloha Technology Pvt. LTd, Pune</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">38</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Siemens India</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">39</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Uttam Galva</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">40</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Square Yards, Gurugram</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">41</p></td>
  <td><p align="center" class="style2" style="font-size:16px">DotSquare Academy</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">42</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Codetantra, Hydrabad</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">43</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Intellipaat</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">44</p></td>
  <td><p align="center" class="style2" style="font-size:16px">wipro</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">45</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Accenture</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">46</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Primenumbers Technology, Bangalore</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">47</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Eleation</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">48</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Allwin Capital</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">49</p></td>
  <td><p align="center" class="style2" style="font-size:16px">KPIT</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">50</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Ranker Point Jhalawar</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">51</p></td>
  <td><p align="center" class="style2" style="font-size:16px">IMG Global</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">52</p></td>
  <td><p align="center" class="style2" style="font-size:16px">CedCoss Technology Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">53</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Visudh Ajivam Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">54</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Teska Technology Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">55</p></td>
  <td><p align="center" class="style2" style="font-size:16px">BriskMinds Software Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">56</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Vishal Bearings Limited</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">57</p></td>
  <td><p align="center" class="style2" style="font-size:16px">ACC Cement</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">58</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Tempsens</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">59</p></td>
  <td><p align="center" class="style2" style="font-size:16px">UnSchool</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">60</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Pin Click</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">61</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Kellton Tech</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">62</p></td>
  <td><p align="center" class="style2" style="font-size:16px">iOPEX Technology Private Limited</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">63</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Schneider Electric Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">64</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Sandhar Technology Limited</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">65</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Fexle Service Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">66</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Aaklen IT Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
  <td><p align="center" class="style2" style="font-size:16px">67</p></td>
  <td><p align="center" class="style2" style="font-size:16px">Rinex Technology Pvt. Ltd.</p></td>
</tr>
</tbody>
</table>
            </div>
           </div>
        </li>
        </ul>
    </div>
  </div>
<!-- End: PRODUCT LIST -->
<!-- Companieslist for year 2022-23  -->
<div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span12">
        <div class="thumbnail">
          <div class="caption">
            <h4 align="center">Companies Conducted Placement Drive During Session 2022-23</h4>
  <table cellspacing="0" cellpadding="0" border="1" class="withborder" align="center">
    <tbody>
      <tr>
<td width="70" class="bg-blue"><p align="center" class="style2" style="font-size:18px; color: blue;"><b>S. No.</b></p></td>
<td width="400" class="bg-blue"><p align="center" class="style2" style="font-size:18px; color: blue;"><b>Name</b></p></td>

</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">01</p></td>
<td><p align="center" class="style2" style="font-size:16px">AKA Logistics Pvt. Ltd.</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">02</p></td>
<td><p align="center" class="style2" style="font-size:16px">Qdegree</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">03</p></td>
<td><p align="center" class="style2" style="font-size:16px">HabileLabs</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">04</p></td>
<td><p align="center" class="style2" style="font-size:16px">Byju's</p></td>
</tr> -->
<!-- <tr> -->
<!-- <td><p align="center" class="style2" style="font-size:16px">05</p></td> -->
<!-- <td><p align="center" class="style2" style="font-size:16px">Star Health Insurance</p></td> -->
<!-- </tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">02</p></td>
<td><p align="center" class="style2" style="font-size:16px">Infosys</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">06</p></td>
<td><p align="center" class="style2" style="font-size:16px">Impetus Technology</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">03</p></td>
<td><p align="center" class="style2" style="font-size:16px">Secure Learning</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">8</p></td>
<td><p align="center" class="style2" style="font-size:16px">Samyak Infotech</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">04</p></td>
<td><p align="center" class="style2" style="font-size:16px">Wonder Cement</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">11</p></td>
<td><p align="center" class="style2" style="font-size:16px">Apollo Tyres</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">05</p></td>
<td><p align="center" class="style2" style="font-size:16px">Streebo</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">11</p></td>
<td><p align="center" class="style2" style="font-size:16px">IBM</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">06</p></td>
<td><p align="center" class="style2" style="font-size:16px">Capegemini</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">07</p></td>
<td><p align="center" class="style2" style="font-size:16px">TCS</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">14</p></td>
<td><p align="center" class="style2" style="font-size:16px">Motherson Sumi</p></td> -->
<!-- </tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">08</p></td>
<td><p align="center" class="style2" style="font-size:16px">MetaCube</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">16</p></td>
<td><p align="center" class="style2" style="font-size:16px">Vodafone Idea</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">09</p></td>
<td><p align="center" class="style2" style="font-size:16px">Himile Molds India Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">10</p></td>
<td><p align="center" class="style2" style="font-size:16px">Meditab Group</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">09</p></td>
<td><p align="center" class="style2" style="font-size:16px">Appcino a Xebia</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">20</p></td>
<td><p align="center" class="style2" style="font-size:16px">Solulabs Inc.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px"></p></td>
<td><p align="center" class="style2" style="font-size:16px">Siyana Info Solutions Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">22</p></td>
<td><p align="center" class="style2" style="font-size:16px">HCL Technologies</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">10</p></td>
<td><p align="center" class="style2" style="font-size:16px">Genius Power Infrastructure</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">26</p></td>
<td><p align="center" class="style2" style="font-size:16px">Manikaran Power Limited</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">24</p></td>
<td><p align="center" class="style2" style="font-size:16px">Stratosphere IT Solutions Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">28</p></td>
<td><p align="center" class="style2" style="font-size:16px">SmartCliff(BlueBirch Group)</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">25</p></td>
<td><p align="center" class="style2" style="font-size:16px">Acxioms Consulting Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">26</p></td>
<td><p align="center" class="style2" style="font-size:16px">Saint Gobain India</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">27</p></td>
<td><p align="center" class="style2" style="font-size:16px">National Hydroelectric Power Corporation</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">27</p></td>
<td><p align="center" class="style2" style="font-size:16px">Sasken Technologies Limited</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">11</p></td>
<td><p align="center" class="style2" style="font-size:16px">Ericson Pvt. Ltd.</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">29</p></td>
<td><p align="center" class="style2" style="font-size:16px">Acty System India Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">35</p></td>
<td><p align="center" class="style2" style="font-size:16px">Nagarro</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">30</p></td>
<td><p align="center" class="style2" style="font-size:16px">Yazaki India Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">31</p></td>
<td><p align="center" class="style2" style="font-size:16px">AptClouds Softwware Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">32</p></td>
<td><p align="center" class="style2" style="font-size:16px">Rucha Group</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">33</p></td>
<td><p align="center" class="style2" style="font-size:16px">Exafluence Pvt. LTd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">34</p></td>
<td><p align="center" class="style2" style="font-size:16px">A-1 Fench Products Company Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">35</p></td>
<td><p align="center" class="style2" style="font-size:16px">NR Switch N Radio Services</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">42</p></td>
<td><p align="center" class="style2" style="font-size:16px">Pentagon Space Pvt. Ltd.</p></td>
</tr> -->
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">36</p></td>
<td><p align="center" class="style2" style="font-size:16px">Exicom Tele-System Ltd, Gurgaon</p></td>
</tr>
<tr> -->
<td><p align="center" class="style2" style="font-size:16px">12</p></td>
<td><p align="center" class="style2" style="font-size:16px">Aloha Technology Pvt. LTd, Pune</p></td>

<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">38</p></td>
<td><p align="center" class="style2" style="font-size:16px">Siemens India</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">39</p></td>
<td><p align="center" class="style2" style="font-size:16px">Uttam Galva</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">40</p></td>
<td><p align="center" class="style2" style="font-size:16px">Square Yards, Gurugram</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">41</p></td>
<td><p align="center" class="style2" style="font-size:16px">DotSquare Academy</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">42</p></td>
<td><p align="center" class="style2" style="font-size:16px">Codetantra, Hydrabad</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">13</p></td>
<td><p align="center" class="style2" style="font-size:16px">Intellipaat</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">14</p></td>
<td><p align="center" class="style2" style="font-size:16px">wipro</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">45</p></td>
<td><p align="center" class="style2" style="font-size:16px">Accenture</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">46</p></td>
<td><p align="center" class="style2" style="font-size:16px">Primenumbers Technology, Bangalore</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">47</p></td>
<td><p align="center" class="style2" style="font-size:16px">Eleation</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">48</p></td>
<td><p align="center" class="style2" style="font-size:16px">Allwin Capital</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">49</p></td>
<td><p align="center" class="style2" style="font-size:16px">KPIT</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">50</p></td>
<td><p align="center" class="style2" style="font-size:16px">Ranker Point Jhalawar</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">51</p></td>
<td><p align="center" class="style2" style="font-size:16px">IMG Global</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">52</p></td>
<td><p align="center" class="style2" style="font-size:16px">CedCoss Technology Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">53</p></td>
<td><p align="center" class="style2" style="font-size:16px">Visudh Ajivam Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">54</p></td>
<td><p align="center" class="style2" style="font-size:16px">Teska Technology Pvt. Ltd.</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">15</p></td>
<td><p align="center" class="style2" style="font-size:16px">BriskMinds Software Solutions Pvt. Ltd.</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">56</p></td>
<td><p align="center" class="style2" style="font-size:16px">Vishal Bearings Limited</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">57</p></td>
<td><p align="center" class="style2" style="font-size:16px">ACC Cement</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">58</p></td>
<td><p align="center" class="style2" style="font-size:16px">Tempsens</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">16</p></td>
<td><p align="center" class="style2" style="font-size:16px">UnSchool</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">17</p></td>
<td><p align="center" class="style2" style="font-size:16px">Pin Click</p></td>
</tr>
<!-- <tr>
<td><p align="center" class="style2" style="font-size:16px">61</p></td>
<td><p align="center" class="style2" style="font-size:16px">Kellton Tech</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">62</p></td>
<td><p align="center" class="style2" style="font-size:16px">iOPEX Technology Private Limited</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">63</p></td>
<td><p align="center" class="style2" style="font-size:16px">Schneider Electric Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">64</p></td>
<td><p align="center" class="style2" style="font-size:16px">Sandhar Technology Limited</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">65</p></td>
<td><p align="center" class="style2" style="font-size:16px">Fexle Service Pvt. Ltd.</p></td>
</tr> -->
<tr>
<td><p align="center" class="style2" style="font-size:16px">18</p></td>
<td><p align="center" class="style2" style="font-size:16px">Aaklen IT Solutions Pvt. Ltd.</p></td>
</tr>
<tr>
<td><p align="center" class="style2" style="font-size:16px">19</p></td>
<td><p align="center" class="style2" style="font-size:16px">Rinex Technology Pvt. Ltd.</p></td>
</tr>
</tbody>
</table>
          </div>
         </div>
      </li>
      </ul>
  </div>
</div>