<!-- start-main containt-->
<div class="main">
    <div class="container1">
        <div class="hash">
            <h1>Education Needs Complete Solution</h1>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <button class="ab">Contact Us</button>
        </div>
    </div>
    <div class="container2">
        <div class="hash1">
            <div class="faci"><span><i class="fa-solid fa-person-chalkboard"></i></span></div>
            <h1>Certified Teachers</h1>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            </p>
        </div>
        <div class="hash2">
            <div class="faci"><span><i class="fa-regular fa-book-open-reader"></i></span></div>
            <h1>Special Education</h1>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            </p>
        </div>
        <div class="hash3">
            <div class="faci"><span><i class="fa-solid fa-book-bookmark"></i></span></div>
            <h1>Book & Library</h1>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            </p>
        </div>
        <div class="hash4">
            <div class="faci"><span><i class="fa-solid fa-medal"></i></span></div>
            <h1>Sport Clubs</h1>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            </p>
        </div>
    </div>
    <div class="container-outer3">
        <div class="container3">
            <div class="star1">
                <div class="star1a">
                    <h1>What We Offer</h1>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin
                        would be
                        the word.</p>
                </div>
                <div class="star2a">
                    <div class="star2ax">
                        <div class="solo1">
                            <div class="star2axp">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-shield-halved"
                                            style="color: #ffff;"></i></div>
                                </div>
                                <div class="star2axk">
                                    <h1>Safety First</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="solo1">
                            <div class="star2axq">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-book-open" style="color: #ffff;"></i>
                                    </div>
                                </div>
                                <div class="star2axk">
                                    <h1>Certified Teachers
                                    </h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="solo1">
                            <div class="star2axr">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-file-circle-check"
                                            style="color: #ffff;"></i></div>
                                </div>
                                <div class="star2axk">
                                    <h1>Creative Lessons</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="star2ay">
                        <div class="solo1">
                            <div class="star2ayp">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-user" style="color: #ffff;"></i>
                                    </div>
                                </div>
                                <div class="star2axk">
                                    <h1>Regular Classes</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="solo1">
                            <div class="star2ayq">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-children" style="color: #ffff;"></i>
                                    </div>
                                </div>
                                <div class="star2axk">
                                    <h1>Sufficient Classrooms
                                    </h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="solo1">
                            <div class="star2ayr">
                                <div class="solo">
                                    <div class="star2axj"><i class="fa-solid fa-volleyball" style="color: #ffff;"></i>
                                    </div>
                                </div>
                                <div class="star2axk">
                                    <h1>Sports Facilities</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="star2">
                <img src="images/library.jpg" alt="image">
            </div>
        </div>
    </div>
    <div class="background-image">

    </div>
    <div class="statements">
        <div class="caption2a">
            <div class="page-header">
                <h1>From Principal desk</h1>
            </div>
            <hr class="captionhr">
            <p>Engineering
                College Jhalawar is
                providing such an environment which is technically
                focused and is following a structured system of
                revising the curriculum, which not only helps students
                to pace up with the changing technical scenario but
                also helps in overall development of our students. Our
                students are evolving not only as professional
                engineers and expert in the specializations, but also as
                excellent human beings. I am fully confident that any
                organization our students join, will be proud of them.</p>
            <a class="zindex">Dr. Kartar Singh</a>
            <a class="zindex">Principal, ECJ</a>
        </div>
        <div class="caption2b">
            <div class="page-header">
                <h1>Training & Placement Officer</h1>
            </div>
            <hr class="captionhr">
            <p>The Office of Training &
                Placement (OTP)
                works
                tirelessly, ensuring fruitful career for students, across
                various industries and helping individual’s endeavour
                to be a successful entrepreneur. Our students are
                provided with good facilities and enjoy a healthy
                environment so that they fully imbibe the
                concepts and thereby manifest their knowledge in the
                real world. I sincerely thank all the companies/
                industries that visited our campus for recruitment and
                internship. We in OTP, will continue its efforts in this
                direction by facilitating industrial training/
                internships, and inviting companies/institutions/
                organizations of repute for placement.</p>
            <a>Abhishek Soni</a>
            <a>(Assistant Professor, Dept. of Information & Technology)</a>
        </div>
    </div>

    <div class="notic-corner">
        <h2>Notice Corner</h2>
        <hr class="captionhr">
    </div>
    <div class="dipper">
        <div class="thumbnail">
            <div class="caption3a">
                <div class="page-header">
                    <h3>News &amp; Event</h3>
                </div>
                <marquee style="height:225px;" direction="up" scrollamount="3" onmouseover="stop()"
                    onmouseout="start()">

                </marquee>
            </div>
        </div>
        <div class="thumbnail">
            <div class="caption3b">
                <div class="page-header">
                    <h3>Updates</h3>
                </div>
                <marquee class="zindex" style="height:225px;" direction="up" scrollamount="3" onmouseover="stop()"
                    onmouseout="start()">
                    <ul style=" font-size: 16px;">
                        <li> <a> Congratulations to Sunil Vaishnav & Rahul Nawar (M.E. 4th
                                year)
                                for getting selected in Blue Danio Sea Services. </a></li><br>
                        <li> <a style=> Congratulations to Shankar Gadri (I.T. 4th year) for getting
                                selected in WIPRO ltd. </a></li><br>
                    </ul>
                </marquee>
            </div>
        </div>
        <div class="thumbnail">
            <div class="caption3c">
                <div class="page-header">
                    <h3>Miscellaneous</h3>
                </div>
                <marquee class="zindex" style="height:225px;" direction="up" scrollamount="0" onmouseover="stop()"
                    onmouseout="start()">
                    <ul style=" font-size: 16px;">
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdFEeeMqSk7EYX2uU5ngqMFWd1ogUKl5Y3BXNMlO4vpoEKU8A/viewform"
                                style="color: rgb(249, 245, 245);">Passout Student Registration</a></li>
                        <li> <a href="./notice/student.jpg" style="color: rgb(251, 245, 245);">Students selected for
                                Office of
                                Training & Placement .</a></li>
                        <li><a href="./other/B.tech 1st year Practical_Training_Form_14_Days-2019.pdf"
                                style="color: rgb(246, 240, 240);">B.Tech
                                Ist year Summer Internship Application </a></li>
                        <li><a href="./other/B.tech 2nd year Practical_Training_Form_45_Days-2019.pdf"
                                style="color: rgb(241, 234, 234);">B.Tech
                                IInd year Summer Internship Application</a></li>
                        <li><a href="./other/Btech3rdTraining_Form.pdf" style="color: rgb(245, 240, 240);">B.Tech
                                IIIrd Year VI
                                Semester Summer Internship Application Form.</a></li>
                    </ul>
                </marquee>
            </div>
        </div>
    </div>
</div>
<!-- End: MAIN CONTENT -->