<!-- start-main containt-->
<div class="main">
    <div class="container1">
        <div class="hash">
            <h1> Knowledge Is The Supreme Goal</h1>
            <p>The Engineering College Jhalawar is affiliated to the Rajasthan Technical University Kota and the courses are duly approved by AICTE New-Delhi.</p>
        </div>
    </div>
    <div class="container2">
        <div class="hash1">

        </div>
        <div class="hash2">

        </div>
        <div class="hash3">

        </div>
        <div class="hash4">

        </div>
    </div>
    <div class="container-outer3">
        <div class="container3">
            <div class="container3-left">
                <h4>WHO WE ARE</h4>
                <h1>Office of Career services</h1>
                <p>The Placement Department at our engineering college is a dynamic and dedicated hub that plays a pivotal role in shaping the future of our students. Committed to bridging the gap between academia
                    and industry, our placement team tirelessly works to prepare students for successful careers by
                    providing them with the necessary skills and opportunities. Through a combination of rigorous
                    training, industry-focused workshops, and personalized career counseling, the department equips
                    students with the knowledge and confidence they need to excel in the competitive job market. With a
                    strong network of industry connections, our placement cell facilitates internships and job
                    placements, ensuring that our graduates step into the professional world well-prepared and with a
                    competitive edge. The Placement Department is not just a department but a gateway to a world of
                    opportunities, where dreams are realized, and futures are shaped.</p>
            </div>
            <div class="container3-right">
                <img src="images/library.jpg" alt="image">
            </div>
        </div>
    </div>

    <div class="img-row">
        <div class="img6">

        </div>
        <div class="img7">

        </div>
        <div class="img8">

        </div>
        <div class="img9">

        </div>
    </div>
    <div class="background">
        <h1>ljnkb</h1>
    </div>
    <div class="statements">
        <div class="caption2a">
            <div class="page-header">
                <h1>From Principal desk</h1>
            </div>
            <hr class="captionhr">
            <p>Engineering
                College Jhalawar is
                providing such an environment which is technically
                focused and is following a structured system of
                revising the curriculum, which not only helps students
                to pace up with the changing technical scenario but
                also helps in overall development of our students. Our
                students are evolving not only as professional
                engineers and expert in the specializations, but also as
                excellent human beings. I am fully confident that any
                organization our students join, will be proud of them.</p>
            <a class="zindex">Dr. Kartar Singh</a>
            <a class="zindex">Principal, ECJ</a>
        </div>
        <div class="caption2b">
            <div class="page-header">
                <h1>Training & Placement Officer</h1>
            </div>
            <hr class="captionhr">
            <p>The Office of Training &
                Placement (OTP)
                works
                tirelessly, ensuring fruitful career for students, across
                various industries and helping individual’s endeavour
                to be a successful entrepreneur. Our students are
                provided with good facilities and enjoy a healthy
                environment so that they fully imbibe the
                concepts and thereby manifest their knowledge in the
                real world. I sincerely thank all the companies/
                industries that visited our campus for recruitment and
                internship. We in OTP, will continue its efforts in this
                direction by facilitating industrial training/
                internships, and inviting companies/institutions/
                organizations of repute for placement.</p>
            <a>Abhishek Soni</a>
            <a>(Assistant Professor, Dept. of Information & Technology)</a>
        </div>
    </div>

    <div class="notic-corner">
        <h2>Notice Corner</h2>
        <hr class="captionhr">
    </div>
    <div class="dipper">
        <div class="thumbnail">
            <div class="caption3a">
                <div class="page-header">
                    <h3>News &amp; Event</h3>
                </div>
                <marquee style="height:225px;" direction="up" scrollamount="3" onmouseover="stop()"
                    onmouseout="start()">

                </marquee>
            </div>
        </div>
        <div class="thumbnail">
            <div class="caption3b">
                <div class="page-header">
                    <h3>Updates</h3>
                </div>
                <marquee class="zindex" style="height:225px;" direction="up" scrollamount="3" onmouseover="stop()"
                    onmouseout="start()">
                    <ul style=" font-size: 16px;">
                        <li> <a> Congratulations to Sunil Vaishnav & Rahul Nawar (M.E. 4th year)
                                for getting selected in Blue Danio Sea Services. </a>
                        </li><br>
                        <li> <a style=> Congratulations to Shankar Gadri (I.T. 4th year) for getting
                                selected in WIPRO ltd. </a>
                        </li><br>
                    </ul>
                </marquee>
            </div>
        </div>

    </div>
</div>
<!-- End: MAIN CONTENT -->